In [1]:
import pandas as pd
from datetime import datetime,timedelta
import numpy as np

In [2]:
df = pd.read_csv('Labelled.csv')

In [3]:
df = df.drop(columns=['text','likes','Unnamed: 0'])

In [4]:
df.dtypes

user         object
Date         object
Negative    float64
Neutral     float64
Positive    float64
dtype: object

In [5]:
df.head()

               user                       Date  Negative   Neutral  Positive
0  @Santosh58809614  Jan 1, 2023 · 7:49 PM UTC  0.803856  0.179497  0.016647
1            @R986P  Jan 1, 2023 · 7:01 PM UTC  0.056528  0.553336  0.390136
2     @wasir_phukan  Jan 1, 2023 · 5:59 PM UTC  0.132661  0.766757  0.100582
3      @IamRgvIndia  Jan 1, 2023 · 5:18 PM UTC  0.378204  0.589663  0.032133
4     @AbhipraGroup  Jan 1, 2023 · 4:24 PM UTC  0.230898  0.711228  0.057874

In [6]:
def convert_string_to_datetime(date_string):
    return datetime.strptime(date_string, "%b %d, %Y · %I:%M %p %Z").date()

# Apply the function to the 'Date' column of the DataFrame
df['Date'] = df['Date'].apply(convert_string_to_datetime)

In [7]:
df.head()

               user        Date  Negative   Neutral  Positive
0  @Santosh58809614  2023-01-01  0.803856  0.179497  0.016647
1            @R986P  2023-01-01  0.056528  0.553336  0.390136
2     @wasir_phukan  2023-01-01  0.132661  0.766757  0.100582
3      @IamRgvIndia  2023-01-01  0.378204  0.589663  0.032133
4     @AbhipraGroup  2023-01-01  0.230898  0.711228  0.057874

In [8]:
df.index = df['Date']

In [9]:
terms = ['Negative','Positive','Neutral']

for term in terms:
    df[term] = df[term].groupby('Date').mean()

In [10]:
df = df.drop(columns=['user']).drop_duplicates(subset='Date')

In [11]:
df.index = pd.to_datetime(df.index)

In [12]:
df = df.sort_index()

start_date = datetime(2023,1,1) 
final_date = datetime(2023,12,31)

new_index = pd.date_range(start=start_date,end=final_date)

df = df.reindex(new_index).fillna(method='ffill')

C:\Users\sai18\AppData\Local\Temp\ipykernel_17020\3455363497.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.reindex(new_index).fillna(method='ffill')

In [13]:
df['Date'] = df.index

In [14]:
df.to_csv('Labelled_True.csv')