In [46]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import yfinance as yf

In [47]:
tweets_df = pd.read_csv('Labelled_True.csv',index_col='Date').drop(columns={'Unnamed: 0'})
print(tweets_df.dtypes)
tweets_df.index = pd.to_datetime(tweets_df.index)

Negative    float64
Neutral     float64
Positive    float64
dtype: object

In [48]:
start_date = datetime(2023,1,1)
end_date = datetime(2023,12,31)

In [49]:
prices = yf.download('HDFCBANK.NS',start = start_date,end = end_date).drop(columns = {'Adj Close'})

[*********************100%%**********************]  1 of 1 completed

In [50]:
prices.head()

                   Open         High          Low        Close   Volume
Date
2023-01-02  1627.000000  1639.750000  1618.550049  1628.699951  2190689
2023-01-03  1622.199951  1643.000000  1622.199951  1639.349976  4189015
2023-01-04  1635.000000  1645.750000  1607.000000  1610.050049  5175800
2023-01-05  1615.000000  1618.050049  1589.400024  1599.699951  5470718
2023-01-06  1602.000000  1609.099976  1578.199951  1594.400024  4546231

In [51]:
print(prices.shape)
print(tweets_df.shape)

(245, 5)
(365, 3)

In [52]:
prices = prices.sort_index()

start_date = datetime(2023,1,1) 
final_date = datetime(2023,12,31)

new_index = pd.date_range(start=start_date,end=final_date)

prices = prices.reindex(new_index).fillna(method='ffill')

C:\Users\sai18\AppData\Local\Temp\ipykernel_12296\1015478329.py:8: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  prices = prices.reindex(new_index).fillna(method='ffill')

In [53]:
prices['next_close'] = prices['Close'].shift(-1)

In [54]:
prices.drop([start_date,end_date],inplace = True)

In [55]:
prices

,Open,High,Low,Close,Volume,next_close
2023-01-02,1627.000000,1639.750000,1618.550049,1628.699951,2190689.0,1639.349976
2023-01-03,1622.199951,1643.000000,1622.199951,1639.349976,4189015.0,1610.050049
2023-01-04,1635.000000,1645.750000,1607.000000,1610.050049,5175800.0,1599.699951
2023-01-05,1615.000000,1618.050049,1589.400024,1599.699951,5470718.0,1594.400024
2023-01-06,1602.000000,1609.099976,1578.199951,1594.400024,4546231.0,1594.400024
...,...,...,...,...,...,...
2023-12-26,1673.250000,1685.949951,1668.550049,1682.449951,9022928.0,1703.300049
2023-12-27,1681.500000,1706.500000,1678.599976,1703.300049,13504539.0,1705.250000
2023-12-28,1709.300049,1721.400024,1702.000000,1705.250000,22038235.0,1709.250000
2023-12-29,1697.000000,1714.900024,1696.000000,1709.250000,12505713.0,1709.250000
2023-12-30,1697.000000,1714.900024,1696.000000,1709.250000,12505713.0,1709.250000

In [56]:
tweets_df.drop([start_date,end_date],inplace=True)

In [57]:
Newdf = pd.concat([tweets_df,prices],axis = 1)

In [59]:
Newdf.to_csv('Tweets+prices.csv')